<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Class</title>
    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/minty/bootstrap.min.css"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="./dashboardAdmin.html">bee-portal</a>
        <a class="navbar-brand" href="./dashboardAdmin.html">Class</a>
        <a class="navbar-brand" href="./exam.html">Exam</a>
        <a class="navbar-brand" href="../../index.html">Logout</a>
      </div>
    </nav>
    <div class="form">
      <div class="d-flex justify-content-center" style="margin-top: 100px">
        <h3>Add New Class</h3>
      </div>
      <div style="margin: 100px">
        <fieldset>
          <div class="form-group">
            <label for="class-code" class="form-label mt-4">Class Code: </label>
            <input
              id="class-code"
              class="form-control"
              type="text"
              placeholder=" "
            />
          </div>
          <div class="form-group">
            <label for="class-day" class="form-label mt-4">Class Day: </label>
            <input
              id="class-day"
              class="form-control"
              type="number"
              placeholder=" "
            />
          </div>
          <div class="form-group">
            <label for="class-shift" class="form-label mt-4"
              >Class Shift:
            </label>
            <input
              id="class-shift"
              class="form-control"
              type="number"
              placeholder=" "
            />
          </div>
          <div class="form-group">
            <label for="course-id" class="form-label mt-4">Course ID: </label>
            <input
              id="course-id"
              class="form-control"
              type="text"
              placeholder=" "
            />
          </div>
          <div class="form-group">
            <label for="lecturer-code" class="form-label mt-4"
              >Lecturer Code:
            </label>
            <input
              id="lecturer-code"
              class="form-control"
              type="text"
              placeholder=" "
            />
          </div>

          <div class="form-group">
            <label for="student-code1" class="form-label mt-4"
              >Student Code 1:
            </label>
            <input
              id="student-code1"
              class="form-control"
              type="text"
              placeholder=" "
            />
          </div>
          <div class="form-group">
            <label for="student-code2" class="form-label mt-4"
              >Student Code 2:
            </label>
            <input
              id="student-code2"
              class="form-control"
              type="text"
              placeholder=" "
            />
          </div>
          <div class="form-group">
            <label for="student-code3" class="form-label mt-4"
              >Student Code 3:
            </label>
            <input
              id="student-code3"
              class="form-control"
              type="text"
              placeholder=" "
            />
          </div>

          <br />
          <div class="text-center">
            <button type="text" class="btn btn-primary" id="submitBtn">
              Add Class
            </button>
          </div>
          <hr />
        </fieldset>
      </div>
    </div>
  </body>

  <script type="module">
    import {
      Firestore,
      collection,
      addDoc,
      getFirestore,
      doc,
    } from "https://www.gstatic.com/firebasejs/9.5.0/firebase-firestore.js";
    import { firebaseApp } from "../../firebase.js";

    const db = getFirestore(firebaseApp);

    document.getElementById("submitBtn").addEventListener("click", async () => {
      try {
        const docRef = await addDoc(collection(db, "Classes"), {
          classCode: document.getElementById("class-code").value,
          classDay: document.getElementById("class-day").value,
          classShift: document.getElementById("class-shift").value,
          courseID: document.getElementById("course-id").value,
          lecturerID: document.getElementById("lecturer-code").value,
        });

        if (
          document.getElementById("student-code1").value != "" &&
          document.getElementById("student-code2").value != "" &&
          document.getElementById("student-code3").value != ""
        ) {
          const docRef2 = await addDoc(collection(db, "ClassDetail"), {
            classID: docRef.id,
            studentID: document.getElementById("student-code1").value,
          });
          const docRef3 = await addDoc(collection(db, "ClassDetail"), {
            classID: docRef.id,
            studentID: document.getElementById("student-code2").value,
          });
          const docRef4 = await addDoc(collection(db, "ClassDetail"), {
            classID: docRef.id,
            studentID: document.getElementById("student-code3").value,
          });
        } else if (
          document.getElementById("student-code1").value != "" &&
          document.getElementById("student-code2").value != ""
        ) {
          const docRef2 = await addDoc(collection(db, "ClassDetail"), {
            classID: docRef.id,
            studentID: document.getElementById("student-code1").value,
          });
          const docRef3 = await addDoc(collection(db, "ClassDetail"), {
            classID: docRef.id,
            studentID: document.getElementById("student-code2").value,
          });
        } else if (document.getElementById("student-code1").value != "") {
          const docRef2 = await addDoc(collection(db, "ClassDetail"), {
            classID: docRef.id,
            studentID: document.getElementById("student-code1").value,
          });
        }

        console.log("Document written with ID: ", docRef.id);
        alert("Success adding a new class!");
        window.location.assign("./dashboardAdmin.html");
      } catch (e) {
        console.error("Error adding document: ", e);
      }
    });
  </script>
</html>
