<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Proctor</title>
    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/minty/bootstrap.min.css"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="./dashboardAdmin.html">bee-portal</a>
        <a class="navbar-brand" href="./dashboardAdmin.html">Class</a>
        <a class="navbar-brand" href="./exam.html">Exam</a>
        <a class="navbar-brand" href="../../index.html">Logout</a>
      </div>
    </nav>
    <div class="form">
      <div class="d-flex justify-content-center" style="margin-top: 100px">
        <h3>Add Exam</h3>
      </div>
      <div style="margin: 100px">
        <fieldset>
          <div class="form-group">
            <label for="exam-class" class="form-label mt-4">Exam Class: </label>
            <input
              id="exam-class"
              class="form-control"
              type="text"
              placeholder=" "
            />
          </div>
          <div class="form-group">
            <label for="exam-type" class="form-label mt-4">Exam Type: </label>
            <input
              id="exam-type"
              class="form-control"
              type="text"
              placeholder=" "
            />
          </div>
          <div class="form-group">
            <label for="class-id" class="form-label mt-4">Class ID: </label>
            <input
              id="class-id"
              class="form-control"
              type="text"
              placeholder=" "
            />
          </div>
          <div class="form-group">
            <label for="proctor-id" class="form-label mt-4">Proctor ID: </label>
            <input
              id="proctor-id"
              class="form-control"
              type="text"
              placeholder=" "
            />
          </div>
          <div class="form-group">
            <label for="start-date" class="form-label mt-4">Start Date: </label>
            <input
              id="start-date"
              class="form-control"
              type="text"
              placeholder=" "
            />
          </div>
          <div class="form-group">
            <label for="end-date" class="form-label mt-4">End Date: </label>
            <input
              id="end-date"
              class="form-control"
              type="text"
              placeholder=" "
            />
          </div>

          <br />
          <div class="text-center">
            <button type="text" class="btn btn-primary" id="submitBtn">
              Add Exam
            </button>
          </div>
          <hr />
        </fieldset>
      </div>
    </div>
  </body>

  <script type="module">
    import {
      Firestore,
      collection,
      addDoc,
      getFirestore,
      doc,
    } from "https://www.gstatic.com/firebasejs/9.5.0/firebase-firestore.js";
    import { firebaseApp } from "../../firebase.js";

    const db = getFirestore(firebaseApp);

    document.getElementById("submitBtn").addEventListener("click", async () => {
      try {
        const docRef = await addDoc(collection(db, "Exams"), {
          examClass: document.getElementById("exam-class").value,
          examType: document.getElementById("exam-type").value,
          classID: document.getElementById("class-id").value,
          proctorID: document.getElementById("proctor-id").value,
          startDate: document.getElementById("start-date").value,
          endDate: document.getElementById("end-date").value,
        });

        console.log("Document written with ID: ", docRef.id);
        alert("Success adding a new exam!");
        window.location.assign("./exam.html");
      } catch (e) {
        console.error("Error adding document: ", e);
      }
    });
  </script>
</html>
