<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>bee-portal | Dashboard</title>
    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/minty/bootstrap.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="./dashboardStudent.html">bee-portal</a>
        <a class="navbar-brand" href="./dashboardStudent.html">Class</a>
        <a class="navbar-brand" href="../../index.html">Logout</a>
      </div>
    </nav>
    <div class="d-flex justify-content-center">
      <h2 id="name"></h2>
    </div>
    <div class="d-flex justify-content-center">
      <h3>My Classes</h3>
    </div>

    <br />
    <div class="col text-center">
        <div class="card text-center" style="width: 18rem" id="classes">
          <div class="topics" id="classes">
            
            <div class="card-body">
              <template id="class-template">
                <div class="topic topic1">
                  <div class="topic-bg"></div>
                  <h4 id="class-code"></h4>
                  <h5 id="class-day"></h5>
                  <p id="class-shift"></p>
                  <p id="course-name"></p>
                  <p id="lecturer-name"></p>
                  <!-- <p id="student-name"></p> -->
                  <a href="#" class="btn btn-primary" id="detail">Class Detail</a>

                  <hr>
                  </div>
                  <hr>
                  <!-- <div class="topic-count" id="student-attendance"></div> -->
    <br>
                  
                 <br>
                </div>
              </template>
            </div>
          </div>
    </div>
        </div>

  </body>

  <script type="module">
    import {
      Firestore,
      collection,
      getDocs,
      getFirestore,
      doc,
      deleteDoc, query, where, getDoc
    } from "https://www.gstatic.com/firebasejs/9.5.0/firebase-firestore.js";
    import { firebaseApp } from "../../firebase.js";
    import { UserController } from "../../controller/UserController.js";

    const db = getFirestore(firebaseApp);

    const currUser = localStorage.getItem("activeUserID");

    window.onload = async () => {
      const q = query(collection(db, "ClassDetail"), where("studentID", "==", currUser))
      const querySnapshot = await getDocs(q);

      // const querySnapshot = await getDocs(collection(db, "Classes"));
      const currUID = await UserController.getUserByID(
        localStorage.getItem("activeUserID")
      );
      

      querySnapshot.forEach((query) => {
        const { classID, studentID } = query.data();
        console.log(query.data());
        let body = document.querySelector("#classes");
        let template = document.querySelector("#class-template");
        const clone = template.content.cloneNode(true);
        const class_code = clone.querySelector("#class-code");
        const class_day = clone.querySelector("#class-day");
        const class_shift = clone.querySelector("#class-shift");
        const course_name = clone.querySelector("#course-name");
        const lecturer_name = clone.querySelector("#lecturer-name");

        async function getCourseName(courseID){
          const docRef = doc(db, "Courses", courseID);
        const docSnap = await getDoc(docRef);
        if (docSnap.exists()) {
        const {
          courseName,
        } = docSnap.data();
        document
          .getElementById("course-name")
          .setAttribute("value", courseName);
          course_name.textContent = "Course Name: " + courseName;
        }
        }

        async function getLecturerName(lecturerID){
          const docRef = doc(db, "Users", lecturerID);
        const docSnap = await getDoc(docRef);
        if (docSnap.exists()) {
        const {
          userName,
        } = docSnap.data();
        document
          .getElementById("course-name")
          .setAttribute("value", userName);
          lecturer_name.textContent = "Lecturer Name: " + userName;
        }
        }

        async function getClass(){
          const docRef = doc(db, "Classes", classID);
          const docSnap = await getDoc(docRef);
          if (docSnap.exists()) {
          const {
              classCode, classDay, classShift, courseID, lecturerID,
          } = docSnap.data();

          getCourseName(courseID);
          getLecturerName(lecturerID);

          class_code.textContent = classCode;
          class_day.textContent = "Class Day: " + classDay;
          class_shift.textContent = "Class Shift: " + classShift;
          }
        }
        getClass();

        clone.querySelector("#detail").addEventListener("click", async () =>{
          localStorage.setItem("currClass", classID);
          window.location.assign("./classDetail.html");
        })
        body.appendChild(clone);
      });
    };
    const currUID = await UserController.getUserByID(
      localStorage.getItem("activeUserID")
    );
    document.getElementById("name").textContent = "Hi " + currUID.name + "!";
  </script>
</html>
