<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>bee-portal | Dashboard</title>
    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/minty/bootstrap.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="./dashboardScoring.html">bee-portal</a>
        <a class="navbar-brand" href="./dashboardScoring.html">Scores</a>
        <a class="navbar-brand" href="../../index.html">Logout</a>
      </div>
    </nav>
    <div class="d-flex justify-content-center">
      <h2 id="name"></h2>
    </div>
    <div class="d-flex justify-content-center">
      <h3>Scores</h3>
    </div>

    <br />
    <div class="col text-center">
        <div class="card text-center" style="width: 18rem" id="scores">
          <div class="topics" id="scores">
            
            <div class="card-body">
              <template id="score-template">
                <div class="topic topic1">
                  <div class="topic-bg"></div>
                  <h4 id="user-name"></h4>
                  <h5 id="course-name"></h5>
                  <p id="grade"></p>
                  <p id="status"></p>
                  <p id="score"></p>
                  <p id="finalize"></p>
                  <div class="btn btn-primary" id="finalize-score" style="cursor: pointer">Finalize Score</div>                 
                  <hr>
                  </div>
                <br>
                </div>
              </template>
            </div>
          </div>
    </div>
        </div>

  </body>

  <script type="module">
    import {
      Firestore,
      collection,
      getDocs,
      getFirestore,
      doc,
      deleteDoc, getDoc, updateDoc
    } from "https://www.gstatic.com/firebasejs/9.5.0/firebase-firestore.js";
    import { firebaseApp } from "../../firebase.js";
    import { UserController } from "../../controller/UserController.js";

    const db = getFirestore(firebaseApp);

    window.onload = async () => {
      const querySnapshot = await getDocs(collection(db, "Scores"));
      const currUID = await UserController.getUserByID(
        localStorage.getItem("activeUserID")
      );

      querySnapshot.forEach((query) => {
        const { grade, score, status, userID, examID, finalize } = query.data();
        console.log(query.data());
        let body = document.querySelector("#scores");
        let template = document.querySelector("#score-template");
        const clone = template.content.cloneNode(true);
        const user_name = clone.querySelector("#user-name");
        const course_name = clone.querySelector("#course-name");
        const student_grade = clone.querySelector("#grade");
        const student_score = clone.querySelector("#score");
        const student_status = clone.querySelector("#status");
        const finalize_status = clone.querySelector("#finalize");

        student_grade.textContent = grade;
        student_score.textContent = score;
        student_status.textContent = status;
        finalize_status.textContent = finalize;

        async function getStudentName() {
          const docRef = doc(db, "Users", userID);
          const docSnap = await getDoc(docRef);
          if (docSnap.exists()) {
            const { userName } = docSnap.data();
            document.getElementById("user-name").setAttribute("value", userName);           
            user_name.textContent = "Student Name: " + userName;
          }
        }

        async function getClassID(){
          const docRef = doc(db, "Exams", examID);
          const docSnap = await getDoc(docRef);
          if (docSnap.exists()) {
            const { classID } = docSnap.data();
            getCourseID(classID);
            
          }
        }

        async function getCourseID(classID){
          const docRef = doc(db, "Classes", classID);
          const docSnap = await getDoc(docRef);
          if (docSnap.exists()) {
            const { courseID } = docSnap.data();
            getCourseName(courseID);
          }
        }
        
        async function getCourseName(courseID){
          const docRef = doc(db, "Courses", courseID);
          const docSnap = await getDoc(docRef);
          if (docSnap.exists()) {
            const { courseName } = docSnap.data();
            document.getElementById("course-name").setAttribute("value", courseName);
            
            course_name.textContent = "Course Name: " + courseName;

          }
        }

        getClassID();
        getStudentName();

    clone.querySelector('#finalize-score').addEventListener('click', async () => {
      const q = doc(db, "Scores", query.id);
          // console.log(q.data());
          await updateDoc(q, {
            finalize: "Finalized"
          });
          alert('Success finalized score!')
          window.location.assign("./dashboardScoring.html");
          })

        body.appendChild(clone);
      });
    };

    

    const currUID = await UserController.getUserByID(
      localStorage.getItem("activeUserID")
    );
    document.getElementById("name").textContent = "Hi " + currUID.name + "!";
  </script>
</html>
