<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum</title>
    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/minty/bootstrap.min.css"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="./dashboardLecturer.html">bee-portal</a>
        <a class="navbar-brand" href="./dashboardLecturer.html">Class</a>
        <a class="navbar-brand" href="./exam.html">Exam</a>
        <a class="navbar-brand" href="../../index.html">Logout</a>
      </div>
    </nav>
    <div class="d-flex justify-content-center">
      <h2 id="name"></h2>
    </div>

    <div class="form">
      <div class="d-flex justify-content-center" style="margin-top: 100px">
        <h3>Add New Forum</h3>
      </div>
      <div style="margin: 100px">
        <fieldset>
          <div class="form-group">
            <label for="forum-name">Forum Title: </label>
            <input
              id="forum-name"
              class="form-control"
              type="text"
              placeholder=" "
            />
          </div>
          <div class="form-group">
            <label for="forum-content">Forum Content: </label>
            <input
              id="forum-content"
              class="form-control"
              type="text"
              placeholder=" "
            />
          </div>

          <br />
          <div class="text-center">
            <button type="text" class="btn btn-primary" id="submitBtn">
              Post Forum
            </button>
          </div>
          <hr />
        </fieldset>
      </div>
    </div>
  </body>

  <script type="module">
    import {
      Firestore,
      collection,
      addDoc,
      getFirestore,
    } from "https://www.gstatic.com/firebasejs/9.5.0/firebase-firestore.js";
    import { firebaseApp } from "../../firebase.js";

    const db = getFirestore(firebaseApp);
    // const currUID = await UserController.getUserByID(
    //   localStorage.getItem("activeUserID")
    // );

    // console.log(currUID.name);
    console.log(localStorage.getItem("currClass"));
    document.getElementById("submitBtn").addEventListener("click", async () => {
      try {
        const docRef = await addDoc(collection(db, "Forums"), {
          userID: localStorage.getItem("activeUserID"),
          classID: localStorage.getItem("currClass"),
          title: document.getElementById("forum-name").value,
          content: document.getElementById("forum-content").value,
          // userID: currUID,
        });
        // console.log("Document written with ID: ", docRef.id);
        alert("Success post a new forum!");
        window.location.assign("./forum.html");
      } catch (e) {
        console.error("Error adding document: ", e);
      }
    });
  </script>
</html>
