<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>bee-portal | Dashboard</title>
    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/minty/bootstrap.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="./dashboardLecturer.html">bee-portal</a>
          <a class="navbar-brand" href="./dashboardLecturer.html">Class</a>
          <a class="navbar-brand" href="./attendance.html">Attendance</a>
          <a class="navbar-brand" href="./forum.html">Forum</a>
          <a class="navbar-brand" href="./assignment.html">Assignment</a>
          <a class="navbar-brand" href="./scoring.html">Scoring</a>
  
          <a class="navbar-brand" href="../../index.html">Logout</a>
        </div>
      </nav>
    <div class="d-flex justify-content-center">
      <h2 id="name"></h2>
    </div>
    <div class="d-flex justify-content-center">
      <h3>Student Attendances</h3>
    </div>
    <div class="col text-center">
      <a href="./addAttendance.html" class="btn btn-primary">Submit Attendance</a>
    </div>

    <br />
    <div class="col text-center">
        <div class="card text-center" style="width: 18rem" id="attendances">
          <div class="topics" id="attendances">
            
            <div class="card-body">
              <template id="attendance-template">
                <div class="topic topic1">
                  <div class="topic-bg"></div>
                  <h4 id="student-name"></h4>
                  <h5 id="class-name"></h5>
                  <p id="status"></p>
                  <p id="session"></p>
                  <hr>
                  </div>
                  <a href="./updateCourse.html" class="btn btn-primary" id="update">Update Attendance</a>
                  <hr>
                  <!-- <div class="topic-count" id="student-attendance"></div> -->
    <br>
                  
                 <br>
                </div>
              </template>
            </div>
          </div>
    </div>
        </div>

  </body>

  <script type="module">
    import {
      Firestore,
      collection,
      getDocs,
      getFirestore,
      doc,
      deleteDoc, query, where
    } from "https://www.gstatic.com/firebasejs/9.5.0/firebase-firestore.js";
    import { firebaseApp } from "../../firebase.js";
    import { UserController } from "../../controller/UserController.js";

    const db = getFirestore(firebaseApp);

    window.onload = async () => {
      const querySnapshot = await getDocs(collection(db, "Attendances"));
      const currUID = await UserController.getUserByID(
        localStorage.getItem("activeUserID")
      );
      

      querySnapshot.forEach( async(query) => {
        const { classID, userID, session, status } = query.data();
        console.log(query.data());

//         const q = query(collection(db, "Users"));
// console.log(q.id);
//         const q2 = query(collection(db, "Users"),where(q.id, "==", doc(db, "Users", userID.id)));
//         console.log(q2);
//         console.log(userID.id);
//     console.log(classID.id)
        

        let body = document.querySelector("#attendances");
        let template = document.querySelector("#attendance-template");
        const clone = template.content.cloneNode(true);
        const class_name = clone.querySelector("#class-name");
        const student_name = clone.querySelector("#student-name");
        const attendance_session = clone.querySelector("#session");
        const attendance_status = clone.querySelector("#status");
        clone
          .querySelector("#update")
          .setAttribute("href", "./updateAttendance.html?id=" + query.id);


        class_name.textContent = "Class Code: "+  classID;
        student_name.textContent = "Student ID: " + userID;
        attendance_session.textContent = "Session: " + session;
        attendance_status.textContent = "Status: " + status;


        body.appendChild(clone);
      });
    };
    const currUID = await UserController.getUserByID(
      localStorage.getItem("activeUserID")
    );
    document.getElementById("name").textContent = "Hi " + currUID.name + "!";
  </script>
</html>
