<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum</title>
    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/minty/bootstrap.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="./dashboardLecturer.html">bee-portal</a>
        <a class="navbar-brand" href="./dashboardLecturer.html">Class</a>
        <a class="navbar-brand" href="./exam.html">Exam</a>
        <a class="navbar-brand" href="../../index.html">Logout</a>
      </div>
    </nav>
    <div class="d-flex justify-content-center">
      <h2 id="name"></h2>
    </div>

    <br />
    <h5 class="card-title" id="forum-name">Forum Title</h5>

    <h3 id="forum-name"></h3>
    <p id="forum-content"></p>
    <!-- <p id="user-name"></p> -->
    <p> <b>Replies: </b></p>

    <div class="col text-center">
      <div class="card text-center" style="width: 18rem" id="forums">
        <div class="topics" id="forums">
          
          <div class="card-body">
            <template id="forum-template">
              <div class="topic topic1">
                <div class="topic-bg"></div>               
                <p id="reply-name"></p>
                <p id="reply-content"></p>
                <a href="#" class="btn btn-primary" id="update">Update Reply</a>
                <a href="#" class="btn btn-primary" id="delete">Delete Reply</a>
                </div>
  
               <br>
              </div>
              <hr>
            </template>
          </div>
        </div>
  </div>
      </div>



      <div class="d-flex justify-content-center" style="margin-top: 100px">
        <h3>Reply Forum</h3>
      </div>
      <div style="margin: 100px">
      <div class="form">
        <div class="form-group">
          <label for="content-reply" class="form-label mt-4">Content: </label>
          <input
            id="content-reply"
            class="form-control"
            type="text"
            placeholder=" "
          />
        </div>
        <button type="text" class="btn btn-primary" id="submitBtn">Reply Forum</button>
      </div>
    </div>

  </body>

  <script type="module">
    import {
      Firestore,
      collection,
      getDocs,
      getFirestore,
      doc,
      deleteDoc, query, where, getDoc, addDoc
    } from "https://www.gstatic.com/firebasejs/9.5.0/firebase-firestore.js";
    import { firebaseApp } from "../../firebase.js";

    const db = getFirestore(firebaseApp);

    const currForum = localStorage.getItem("currForum");

    window.onload = async () => {
      const docRef = doc(db, "Forums", currForum);
            const docSnap = await getDoc(docRef);
            if(docSnap.exists()){
              const{ userID, title, content} = docSnap.data();
              document.getElementById("forum-name").textContent = title;
              document.getElementById("forum-content").textContent = content;
              
            }


      const q = query(collection(db, "ForumReplies"), where("forumID", "==", currForum));
      const querySnapshot = await getDocs(q);
      querySnapshot.forEach((query) => {
        const { userID, forumID, content } = query.data();

        console.log(query.data());
        let body = document.querySelector("#forums");
        let template = document.querySelector("#forum-template");
        const clone = template.content.cloneNode(true);
        const reply_name = clone.querySelector("#reply-name");
        const reply_content = clone.querySelector("#reply-content");

        
        async function getUserName(){
          const docRef = doc(db, "Users", userID);
          const docSnap = await getDoc(docRef);
          if (docSnap.exists()) {
          const {
            userName,
          } = docSnap.data();
          document.getElementById("reply-name").setAttribute("value", userName);
          reply_name.textContent = "Replied by: " + userName;
        }
      }
      reply_content.textContent = content;

          
          // async function getForum(){
            
          // }
          // getForum();
          getUserName();

          clone.querySelector("#update").addEventListener("click", async () =>{
          const forumReplyID = query.id;
          localStorage.setItem("currForumReply", forumReplyID);
          window.location.assign("./updateForumReply.html");
        })

        clone.querySelector("#delete").addEventListener("click", async () => {
          const forumReplyID = query.id;

          await deleteDoc(doc(db, "ForumReplies", forumReplyID));
          alert("Success delete reply!");
          window.location.assign("./forumDetail.html");

        })

        body.appendChild(clone);
      });

      document.getElementById("submitBtn").addEventListener("click", async () => {
      try {
        // console.log(document.getElementById("forum-content").value);
        // console.log(localStorage.getItem("activeUserID"));
        // console.log(currForum);

        const docRef = await addDoc(collection(db, "ForumReplies"), {
          userID: localStorage.getItem("activeUserID"),
          forumID: currForum,
          content: document.getElementById("content-reply").value,

        });
        // console.log("Document written with ID: ", docRef.id);
        alert("Success reply forum!");
        window.location.assign("./forumDetail.html");
      } catch (e) {
        console.error("Error adding document: ", e);
      }
    });

    };
  </script>
</html>
