<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Course</title>
    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/minty/bootstrap.min.css"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="./dashboardLecturer.html">bee-portal</a>
        <a class="navbar-brand" href="./dashboardLecturer.html">Class</a>
        <a class="navbar-brand" href="./exam.html">Exam</a>
        <a class="navbar-brand" href="../../index.html">Logout</a>
      </div>
    </nav>
    <div class="form">
      <div class="d-flex justify-content-center" style="margin-top: 100px">
        <h3>Update Forum</h3>
      </div>
      <div style="margin: 100px">
        <fieldset>
          <div class="form-group">
            <label for="forum-title" class="form-label mt-4">Title: </label>
            <input
              id="forum-title"
              class="form-control"
              type="text"
              placeholder=" "
            />
          </div>
          <div class="form-group">
            <label for="forum-content" class="form-label mt-4">Content: </label>
            <input
              id="forum-content"
              class="form-control"
              type="text"
              placeholder=" "
            />
          </div>

          <br />
          <div class="text-center">
            <button type="text" class="btn btn-primary" id="updateBtn">
              Update Forum
            </button>
          </div>
          <hr />
        </fieldset>
      </div>
    </div>
  </body>

  <script type="module">
    import {
      Firestore,
      collection,
      addDoc,
      getFirestore,
      updateDoc,
      doc,
      getDoc,
    } from "https://www.gstatic.com/firebasejs/9.5.0/firebase-firestore.js";
    import { firebaseApp } from "../../firebase.js";

    const db = getFirestore(firebaseApp);
    const forumID = localStorage.getItem("currForum");

    window.onload = async () => {
      const docRef = doc(db, "Forums", forumID);
      const docSnap = await getDoc(docRef);

      if (docSnap.exists()) {
        const { content, title } = docSnap.data();

        document.getElementById("forum-title").setAttribute("value", title);
        document.getElementById("forum-content").setAttribute("value", content);

        console.log("Document data:", docSnap.data());
      }
    };

    document.getElementById("updateBtn").addEventListener("click", async () => {
      const query = doc(db, "Forums", forumID);
      await updateDoc(query, {
        title: document.getElementById("forum-title").value,
        content: document.getElementById("forum-content").value,
      });

      alert("Success Updating forum!");
      window.location.assign("./forum.html");
    });
  </script>
</html>
